In [1]:
pip install selenium

Collecting seleniumNote: you may need to restart the kernel to use updated packages.
  Downloading selenium-4.1.2-py3-none-any.whl (963 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\bank of america\anaconda3\lib\site-packages (from selenium) (1.26.7)
Collecting trio~=0.17
  Downloading trio-0.20.0-py3-none-any.whl (359 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: sortedcontainers in c:\users\bank of america\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\bank of america\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\bank of america\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\bank of america\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\bank of america\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\bank of america\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\bank of america\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\bank of america\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\bank of america\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\bank of america\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\bank of america\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\bank of america\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.1.0 selenium-4.1.2 trio-0.20.0 trio-websocket-0.9.2 wsproto-1.1.0

In [2]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

In [4]:
#driver= webdriver.Chrome('chromedriver.exe')# upload driver on jupyter root

In [5]:
url='https://www.naukri.com/'
driver.get(url)



1. Job Title   2. Company name    3. Location of Job    4. Experience required

In [9]:
# finding web element for search job bar using id

search_job =driver.find_element_by_class_name("suggestor-input")
search_job

In [10]:
# write on search bar:
search_job.send_keys("Data Scientist")

In [11]:
# Finding web element for search location bar using absolute path

search_location =driver.find_element_by_xpath( '/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

In [12]:
search_location.send_keys('Delhi')

In [13]:
# CLick search button to search

search_btn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn

In [14]:
search_btn.click()

Clicking filters by selection check boxes using absolute path

In [15]:
salary_check=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[1]/label/i ")
salary_check

In [16]:
salary_check.click()

Now lets first create 4 empty lists. in these list the data will be stored while scraping

# EXTRACTING JOB TITLES

In [28]:
# lETS EXTRACT ALL WEB ELEMENTS HAVING JOB TITLES


title_tags=  driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="11669efaefe4c9ae89e339ed0ffed356", element="1305bcf6-878b-4e6f-b0b9-ea9b6b139e32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="11669efaefe4c9ae89e339ed0ffed356", element="14c983e0-b183-4a6b-9460-4b94c6f00b58")>]

In [30]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
    
len(job_titles)

19

# Extracting Company name

In [36]:
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"] ')
len(company_tags)

19

In [38]:
company_names=[]

for i in company_tags:
    company_names.append(i.text)
    
company_names[0:2]

['GABA Consultancy services', 'AddRec Solutions Pvt.Ltd.']

# Extracting experience

In [64]:
# Lets extract all web elements having experience using parent tag  --> child

exp_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')

In [65]:
experience=[]

for i in exp_tags:
    experience.append(i.text)
len(experience)    
experience[0:2]

['0-0 Yrs', '2-4 Yrs']

# Extracting location

In [57]:

location_tag= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location" ]')
len(location_tag)

19

In [59]:

location=[]
for i in location_tag:
    location.append(i.text)
    
len(location)
location[0:2]

['Noida, New Delhi, Gurgaon/Gurugram', 'Gurgaon/Gurugram']

In [60]:
len(job_titles),len(company_names),len(experience),len(location)

(19, 19, 19, 19)

In [61]:
jobs= pd.DataFrame()
jobs['Job Titles']= job_titles
jobs['Company Names']= company_names
jobs['Experience']= experience
jobs['Location']= location

In [62]:
jobs

,Job Titles,Company Names,Experience,Location
0,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
1,Data Scientist,AddRec Solutions Pvt.Ltd.,2-4 Yrs,Gurgaon/Gurugram
2,Senior Data Scientist,DECISION POINT PRIVATE LIMITED,2-5 Yrs,"Gurgaon/Gurugram, Chennai\n(WFH during Covid)"
3,Data Scientist - Immediate Joiners only,MLAI Digital,3-6 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
4,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
5,Data Scientist,CNH Industrial,1-6 Yrs,Gurgaon/Gurugram
6,Data Scientist,Gauge Data Solutions Pvt Ltd,2-7 Yrs,Noida
7,Data Scientist,Alp Consulting Limited,1-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
8,Data Scientist,Cloudstrats Technologies Private Limited,3-5 Yrs,"New Delhi, Delhi / NCR, Mumbai (All Areas)"
9,Required! Data Scientist Executives,Web King Services,0-5 Yrs,"Hyderabad/Secunderabad, Delhi / NCR\n(WFH duri..."
10,"Data Scientist,Data Analyst",Maximus Human Resources Private Limited,1-6 Yrs,"Mumbai, Gurgaon/Gurugram"
11,"Developers, Data Scientists, Web Designers, An...",Cogmac Technologies,1-5 Yrs,Noida
12,Senior Data Analyst 1,Axa XL,0-5 Yrs,Silokhera Gurgaon
13,Senior Marketing Data Analyst,Tide Software,0-4 Yrs,Gurgaon/Gurugram
14,Quality Analyst / Data Engineer / Associate An...,GABA Consultancy services,0-5 Yrs,"Noida, New Delhi, Delhi / NCR"
15,Senior Data Analyst,Grofers,4-7 Yrs,Gurgaon/Gurugram
16,Data Analyst,Analog Legalhub Technology Solutions Pvt Ltd,0-4 Yrs,New Delhi
17,Lead Data Analyst,Grofers,5-7 Yrs,Gurgaon/Gurugram
18,Data Analyst,Grofers,1-2 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [66]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [117]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

url='https://www.naukri.com/'
driver.get(url)

In [118]:
# Find Search bar for Job , location and enter data
search_job= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_location= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_job.send_keys('Data Analyst')
search_location.send_keys('Bangalore')


# Click search button
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

# Find Job Title,  Job-Location , Company Name, Experience Required

In [119]:
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
location_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
exp_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')

title=[]
location=[]
company=[]
exp=[]
for i in title_tags:
    title.append(i.text)
for i in location_tags:
    location.append(i.text)
for i in company_tags:
    company.append(i.text)
for i in exp_tags:
    exp.append(i.text)
    
    
DataAnalyst=pd.DataFrame({'Job Title':title[0:10],'Company':company[0:10],'Location':location[0:10],'Experience':exp[0:10]})
DataAnalyst.index +=1

DataAnalyst

,Job Title,Company,Location,Experience
1,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,"Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb...",0-4 Yrs
2,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,Bangalore/Bengaluru,4-9 Yrs
3,Senior Data Analyst,Mobile Premier League,Bangalore/Bengaluru,3-6 Yrs
4,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-6 Yrs
5,Looking For Data Analyst,Trellance,"Ahmedabad, Bangalore/Bengaluru",0-2 Yrs
6,Data Analyst || Advance Excel || D Limit || Co...,Inspiration Manpower Consultancy Pvt. Ltd.,Bangalore/Bengaluru,2-4 Yrs
7,"Data Analyst (Python, SQL, Excel)",Flipkart,Bangalore/Bengaluru,5-7 Yrs
8,Staff Business Data Analyst - FDP,Intuit Inc.,Bangalore/Bengaluru,3-7 Yrs
9,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,1-3 Yrs
10,Data Analyst,Capillary Technologies,Bangalore/Bengaluru,5-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [124]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [125]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

url='https://www.naukri.com/'
driver.get(url)

In [126]:
# Find Search bar for Job , location and enter data
search_job= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_location= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_job.send_keys('Data Scientist')
search_location.send_keys('Bangalore')


# Click search button
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [127]:
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
location_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')


title=[]
location=[]
company=[]

for i in title_tags:
    title.append(i.text)
for i in location_tags:
    location.append(i.text)
for i in company_tags:
    company.append(i.text)

    
    
DataAnalyst=pd.DataFrame({'Job Title':title[0:10],'Company':company[0:10],'Location':location[0:10]})
DataAnalyst.index +=1

DataAnalyst

,Job Title,Company,Location
1,Data Scientist / Analyst,open data fabric,Bangalore/Bengaluru
2,Forecasting Analyst/ Data Scientist (US Client),Concentrix,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du..."
3,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
4,Data Scientist,Amazon,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
5,Data Scientist,Hewlett-Packard (HP),Bangalore/Bengaluru
6,Senior Data Scientist,newscorp,Bangalore/Bengaluru
7,Data Scientist II- Merchandise & Discovery,Swiggy,Bangalore/Bengaluru
8,Virtusa Hiring DATA Scientist- PAN India,Virtusa,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
9,Sr. Product Data Scientist,Uber,Bangalore/Bengaluru
10,Data Scientist/Senior Data Scientist - Python,ApicalGo Consultancy,Bangalore/Bengaluru

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [138]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [139]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

url='https://www.naukri.com/'
driver.get(url)

In [140]:
# Find Search bar for Job , location and enter data
search_job= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job.send_keys('Data Scientist')

# Click search button
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [141]:
# Check on the location 'Delhi/NCR'
location_check= driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_check.click()

In [142]:
# Check on the salary range  3-6 Lakhs

salary_check= driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_check.click()

In [143]:
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
location_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
exp_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')

title=[]
location=[]
company=[]
exp=[]
for i in title_tags:
    title.append(i.text)
for i in location_tags:
    location.append(i.text)
for i in company_tags:
    company.append(i.text)
for i in exp_tags:
    exp.append(i.text)
    
    
DataAnalyst=pd.DataFrame({'Job Title':title[0:10],'Company':company[0:10],'Location':location[0:10],'Experience':exp[0:10]})
DataAnalyst.index +=1

DataAnalyst

,Job Title,Company,Location,Experience
1,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",0-0 Yrs
2,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",0-3 Yrs
3,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,"Noida, New Delhi, Gurgaon/Gurugram",0-0 Yrs
4,Lead Data Scientist,Indihire HR Consultants Private Limited,Delhi / NCR\n(WFH during Covid),2-4 Yrs
5,Data Scientist,Optum,"Noida, Gurgaon/Gurugram",2-6 Yrs
6,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,4-8 Yrs
7,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,4-8 Yrs
8,Hiring For Data Scientist,Lumiq.ai,"Noida, Pune, Mumbai (All Areas)",2-7 Yrs
9,Open Project | IT Consulting | Data Scientist,Virtuoso Staffing Solutions Pvt Ltd,"Noida, New Delhi, Bangalore Rural, Bangalore/B...",5-10 Yrs
10,Urgent Requirement || Data Scientist || Noida,HCL,"Noida, Delhi / NCR",3-8 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses

In [537]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [538]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

url='https://www.flipkart.com/'
driver.get(url)

In [539]:
# Close Login page
login_page= driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
login_page.click()

In [540]:
# Find Search bar for Job , location and enter data
search_bar= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar.send_keys('Sunglasses')

In [541]:
# Click search button
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [560]:
brand=[]
product=[]
price=[]
discount=[]

for i in range(1,4):
    url='https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(i)
    driver.get(url)
    brand_tags= driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    product_tags= driver.find_elements_by_xpath('//div[@class="_2B099V"]')
    price_tags= driver.find_elements_by_xpath('//div[@class="_30jeq3"] ')
    discount_tags= driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    
    for i in brand_tags:
        brand.append(i.text)
    for i in product_tags:
        product.append(i.text)            
    for i in price_tags:
        price.append(i.text.replace('₹',''))
    for i in discount_tags:
        discount.append(i.text[0:2])

In [561]:
# Extract Product details from parent class
Product=[]
for i in product:
    Product.append(i.split('\n')[1])

In [562]:
len(brand), len(product),len(price),len(discount)

(120, 120, 120, 120)

In [565]:
Sunglass=pd.DataFrame({'Brand':brand[0:100],'Product':Product[0:100],'Price':price[0:100],'Discount':discount[0:100]})
Sunglass.index +=1

Sunglass

,Brand,Product,Price,Discount
1,SRPM,UV Protection Wayfarer Sunglasses (50),148,88
2,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",193,85
3,Elligator,UV Protection Round Sunglasses (54),208,91
4,PIRASO,UV Protection Aviator Sunglasses (54),179,88
5,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",629,21
...,...,...,...,...
96,ROYAL SON,Mirrored Aviator Sunglasses (58),329,78
97,ROYAL SON,UV Protection Retro Square Sunglasses (58),424,71
98,PIRASO,Mirrored Aviator Sunglasses (32),149,90
99,Fastrack,UV Protection Aviator Sunglasses (58),"1,119",13
100,New Specs,UV Protection Rectangular Sunglasses (Free Size),113,92

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [33]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [34]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace'
driver.get(url)
driver.maximize_window()
time.sleep(1)

In [35]:
# Click on " All 5902 reviews"

all_review=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
all_review.click()

In [36]:
review=[]
rating=[]
fullreview=[]



for i in range(1,11):
    review_tags= driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    rating_tags= driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
    fullreview_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]  ')
    for i in review_tags:
        review.append(i.text)
    for i in rating_tags:
        rating.append(i.text)
    for i in fullreview_tags:
        fullreview.append(i.text)

    next_button =driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    
    try:
        driver.get(next_button[1].get_attribute('href'))
    except:
        driver.get(next_button[0].get_attribute('href'))
    
    

Iphone=pd.DataFrame({'Review':review[0:100],'Rating':rating[0:100],'Full Review':fullreview[0:100]})
Iphone.index +=1
Iphone

,Review,Rating,Full Review
1,Brilliant,5,The Best Phone for the Money\n\nThe iPhone 11 ...
2,Simply awesome,5,Really satisfied with the Product I received.....
3,Best in the market!,5,Great iPhone very snappy experience as apple k...
4,Perfect product!,5,Amazing phone with great cameras and better ba...
5,Fabulous!,5,This is my first iOS phone. I am very happy wi...
...,...,...,...
96,Just wow!,5,"Not mere a phone , Its more than that for fun ..."
97,Perfect product!,5,Nice 👌👌👌👌👌👌
98,Fabulous!,5,MD sufiyan rider Owsm\nMobile nd battery mast ...
99,Wonderful,5,"Ok, so after almost 3 years I am again back in..."
100,Nice product,4,If you are looking for a premium phone under 5...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
4. Discount
As shown in the below image, you have to scrape the tick marked attributes.

In [88]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [89]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

url='https://www.flipkart.com/'
driver.get(url)
driver.maximize_window()
time.sleep(1)

In [90]:
# Close Login Page
login_page= driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
login_page.click()

In [91]:
search_bar= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input ')
search_bar.send_keys('sneakers')
search_button= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button ')
search_button.click()

In [92]:
brand=[]
product=[]
price=[]
discount=[]



for i in range(1,4):
    brand_tags= driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    product_tags= driver.find_elements_by_xpath('//div[@class="_2B099V"]')
    price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]  ')
    discount_tags= driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    
    
    for i in brand_tags:
        brand.append(i.text)
    for i in product_tags:
        product.append(i.text.split('\n')[1])
    for i in price_tags:
        price.append(i.text.replace('₹',''))
        
    for i in discount_tags:
        discount.append(i.text.split(' ')[0])

    next_button =driver.find_elements_by_xpath('//a[@class="_1LKTO3"]')
    
    try:
        driver.get(next_button[1].get_attribute('href'))
    except:
        driver.get(next_button[0].get_attribute('href'))
    
    

Iphone=pd.DataFrame({'Brand':brand[0:100],'Product':product[0:100],'Price':price[0:100],'Discount':discount[0:100]})
Iphone.index +=1
Iphone

,Brand,Product,Price,Discount
1,RapidBox,Sneakers For Men,630,36%
2,HRX by Hrithik Roshan,Men White Printed Sneakers Sneakers For Men,"2,049",46%
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,469,70%
4,Magnolia,Sneakers For Men,327,67%
5,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,209,83%
...,...,...,...,...
96,RapidBox,Sneakers For Men,590,40%
97,asics,LYTECOURT Sneakers For Men,"2,001",55%
98,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,399,60%
99,SPARX,SM-439 Sneakers For Men,799,5%
100,RapidBox,Sneakers For Men,590,40%

# Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [630]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [631]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

url='https://www.myntra.com/shoes'
driver.get(url)
driver.maximize_window()
time.sleep(1)

In [632]:
# Apply Filter  Colour checkbox:


Colour_Filter= driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
Colour_Filter.click()

In [633]:
# Apply Filter Price checkbox
Price_Filter= driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
Price_Filter.click()

In [635]:
brand=[]
product=[]
price=[]

url=[]
nex= driver.find_elements_by_xpath('//ul[@class="pagination-container"]/li/a')
for i in nex:
    #print(i.get_attribute('href'))
    url.append(i.get_attribute('href'))


for i in url[0:3]:
    driver.get(i)
    brand_tags= driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h3')
    product_tags= driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h4')
    price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]  ')
    
    
    
    for i in brand_tags:
        brand.append(i.text)
    for i in product_tags:
        product.append(i.text)
    for i in price_tags:
        price.append(i.text.split(' ')[1].replace('Rs.',''))
        
        
# SHowing all 150 products from 3 pages, can use [1:101] to show only  
data= pd.DataFrame({'Brand':brand,'Description':product[::2],'Price':price})
data.index+=1
data

              Brand                              Description  Price
1      Sole To Soul              High-Top Block Heeled Boots   7900
2    ROSSO BRUNELLO                Printed PU Kitten Sandals   8499
3      Sole To Soul        Suede High-Top Block Heeled Boots   9500
4      Sole To Soul           High-Top Platform Heeled Boots   8900
5    ROSSO BRUNELLO              PU Block Pumps with Buckles   7999
..              ...                                      ...    ...
146         Saint G     Leather Block Heeled Boots with Bows  11815
147        DAVINCHI      Men Textured Formal Leather Loafers   8990
148         Saint G  Suede Party High-Top Block Heeled Boots   8925
149        DAVINCHI          Men Solid Leather Formal Derbys   9990
150         Saint G            Leather High-Top Heeled Boots  10625

[150 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
    
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [727]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [777]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

url='https://www.amazon.in/'
driver.get(url)
driver.maximize_window()
time.sleep(1)

In [778]:
# search bar, enter laptop
search_bar= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_bar.send_keys('Laptop')

In [780]:
# Search the keyword Laptop
search_click= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_click.click()

In [782]:
# Apply Filter
i7= driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span/a/div/label/i')
i7.click()

In [783]:
title=[]
rating=[]
price=[]

title_tags= driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
rating_tags= driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]/h4')
price_tags=driver.find_elements_by_xpath('//div[@class="a-row a-size-base a-color-base"] ')
    
    
    
for i in title_tags:
    title.append(i.text)
for i in rating_tags:
    rating.append(i.text)
for i in price_tags:
    price.append(i.text.split('\n')[0].replace("₹",''))
    
data= pd.DataFrame({'Title':title[0:10],'Price':price[0:10]})
data.index +=1
data

                                                Title   Price
1   LG Gram Intel Evo 11th Gen Core i7 17 inches U...  96,999
2   LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  89,999
3   Mi Notebook Ultra 3.2K Resolution Display Inte...  77,499
4   ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  57,490
5   ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  89,990
6   LG Gram Intel Evo 11th Gen Core i7 17 inches U...  96,999
7   LG Gram 14 Intel Evo 11th Gen Core i7 14 inche...  88,990
8   Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...  85,790
9   Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...  87,990
10  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  89,990

30

In [784]:
rating_tags= driver.find_elements_by_xpath('//div[@class="a-section a-spacing-small a-spacing-top-small"]/div')

In [785]:
rat=[]
for i in rating_tags:
    rat.append(i.text)

In [665]:
#locating Ratings

urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop

UR=[]

for i in urls[:10]:

    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops

for url in UR:#loop for every laptop in the list

    driver.get(url)

    try:                  #exception handling for nosuchelementexception                                                    #click the rating link found

        rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating

        Ratings.append(rating.text)#appending the ratings in Ratings list

        

    except NoSuchElementException:

        Ratings.append("NO rating")#appending the No rating if no rating is there

In [786]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")

In [787]:
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))

In [788]:
from selenium.common.exceptions import NoSuchElementException

In [790]:
ratings=[]
for url in UR:
    driver.get(url)
    try:
        rating=driver.find_element_by_id("acrPopover")
        ratings.append(rating.text)
    except NoSuchElementException:
        ratings.append('No rating')

In [792]:
ratings

['', '', '', '', '', '', '', '', '', '']

In [680]:
#from selenium.webdriver.common.by import By

In [763]:
data=driver.find_elements_by_xpath("//span[@class='reviewCountTextLinkedHistogram noUnderline']")
data

[]

In [793]:
driver.find_elements_by_id("//div[@id='acrPopover']/span/a")

[]

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image

3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [320]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [321]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

url='https://www.ambitionbox.com/'
driver.get(url)
driver.maximize_window()
time.sleep(1)

In [322]:
# CLick on Jobs option

job= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job.click()

In [323]:
# Search Bar
search_bar= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_bar.send_keys('Data Scientist')

In [324]:
search= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search.click()

In [325]:
location= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location.click()

In [327]:
location_search= driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label')
location_search.click()

In [445]:
name=[]
daysago=[]
rating=[]

name_tags= driver.find_elements_by_xpath('//p[@class="company body-medium"]')
daysago_tags= driver.find_elements_by_xpath('//*[contains(text(),"ago")]')
rating_tags=driver.find_elements_by_xpath('//div[@class="company-info"]/div' )
    
    
    
for i in name_tags:
    name.append(i.text)
for i in daysago_tags:
    daysago.append(i.text)
for i in rating_tags:
    rating.append(i.text.split('\n')[0])
    
# No of days and Ratings have 1st elemnt duplicate so removing it
data= pd.DataFrame({'Company Name':name,'No. of Days Ago': daysago[1:],'Ratings':rating[1:]})
data.index+=1
data

                                         Company Name No. of Days Ago Ratings
1   NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED          5d ago     3.9
2                            HCL Technologies Limited          6d ago     3.8
3      Optum Global Solutions (India) Private Limited         16d ago     4.1
4               WSP CONSULTANTS INDIA PRIVATE LIMITED          6d ago     4.2
5                   Microsoft India (R and D) Pvt Ltd         17d ago     4.2
6                                HCL Technologies Ltd         14d ago     3.8
7                          Jubilant Foodworks Limited          4d ago     3.9
8                                    HCL Technologies         21d ago     3.8
9                     Hanu Software Solutions Pvt Ltd          6d ago     3.7
10                Tavant Technologies India Pvt. Ltd.        1mon ago     4.0

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually

In [542]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [559]:
from selenium.webdriver.support.ui import Select

In [543]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')

url='https://www.ambitionbox.com/'
driver.get(url)
driver.maximize_window()
time.sleep(1)

In [544]:
# CLick on Salary option

job= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
job.click()

In [555]:
# Search Column
search= driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search.send_keys('Data Scientist')

In [560]:
clk= Select(driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div'))

UnexpectedTagNameException: Message: Select only works on <select> elements, not on <div>

In [558]:
clk