# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [5]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')
import time

In [62]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [99]:
no=[]
video_name=[]
uploader=[]
views=[]
upload_date=[]

table=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in table[:30]:
    no.append(i.text)
    
table=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in table[:30]:
    video_name.append(i.text)
    
table=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in table[:30]:
    uploader.append(i.text)

table=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in table[:30]:
    views.append(i.text)
    
table=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in table[:30]:
    upload_date.append(i.text)
    
pd.DataFrame({'Rank':no,'Video Name':video_name,'Artist':uploader,'Views in (billions)':views,'Upload Date':upload_date})

,Rank,Video Name,Artist,Views in (billions),Upload Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.53,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.82,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.31,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.69,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.48,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.27,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.58,"March 6, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,4.56,"February 27, 2018"
8,9.,"""Uptown Funk""[23]",Mark Ronson,4.54,"November 19, 2014"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.49,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.40,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,3.96,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,3.92,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.68,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.56,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.56,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.54,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.44,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.32,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.28,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.27,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.26,"February 20, 2014"
22,23.,"""Let Her Go""[41]",Passenger,3.21,"July 25, 2012"
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,3.21,"June 25, 2018"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.19,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.19,"March 22, 2015"
26,27.,"""Shake It Off""[45]",Taylor Swift,3.16,"August 18, 2014"
27,28.,"""Perfect""[46]",Ed Sheeran,3.14,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.12,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.07,"June 29, 2017"

# 2. Scrape the details team India’s international fixtures from bcci.tv.

Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [103]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Administrator\Data Science\WebScrapping\chromedriver.exe')
driver.maximize_window()

url='https://www.bcci.tv/'
driver.get(url)

# 3. Scrape the details of selenium exception from guru99.com.

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [145]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url='https://www.guru99.com/'
driver.get(url)

In [147]:
testing=driver.find_element_by_xpath('/html/body/div[1]/header/div[1]/div/div/div/div/div/div/div/div[2]/div[1]/nav/div/ul/li[2]/a')
selenium= driver.find_element_by_xpath('/html/body/div[1]/header/div[1]/div/div/div/div/div/div/div/div[2]/div[1]/nav/div/ul/li[2]/ul/li[12]/a')
selenium.click()
time.sleep(5)

In [111]:
try:
    join=driver.find_element_by_xpath('/html/body/div[5]/div/div/div/div/div/div[1]')
    join.click()
except:
    pass

In [112]:
selenium_tutorial= driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
selenium_tutorial.click()

In [148]:
table=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr')

exception=[]
description=[]
for i in table:
    exception.append(i.text.split(' ',1)[0])
    

for i in table:
    description.append(i.text.split(' ',1)[1])
    
pd.DataFrame({'Exception Name':exception[1:],'Description':description[1:]})

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Scrape the details of State-wise GDP of India from statisticstime.com.

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [106]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Administrator\Data Science\WebScrapping\chromedriver.exe')
driver.maximize_window()

url='http://statisticstimes.com/'
driver.get(url)

# Scrape the details of trending repositories on Github.com.

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [6]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url='https://github.com/trending'
driver.get(url)

In [12]:
len(table)

25

In [7]:
table=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for i in table:
    print(i.text)

actualbudget / actual
actualbudget / actual-server
google / wireit
spacedriveapp / spacedrive
ruanyf / weekly
gelove / dingdong
gradio-app / gradio
Anduin2017 / HowToCook
Pierian-Data / Complete-Python-3-Bootcamp
RedisInsight / RedisInsight
ganelson / inform
ml-tooling / best-of-ml-python
ventoy / Ventoy
kuglee / TermiWatch
TeamNewPipe / NewPipe
appsmithorg / appsmith
FrancescoXX / free-Web3-resources
The-Art-of-Hacking / h4cker
G33kzD3n / Catalogue
cashapp / pranadb
coding-horror / basic-computer-games
Asabeneh / 30-Days-Of-JavaScript
gnolang / gno
github / docs
GitHubDaily / GitHubDaily

In [29]:
desc=driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc:
    print(i.text)

A local-first personal finance system
Actual's server
Wireit upgrades your npm scripts to make them smarter and more efficient.
Spacedrive is an open source cross-platform file explorer, powered by a virtual distributed filesystem written in Rust.
科技爱好者周刊，每周五发布
叮咚买菜助手, 直接下载并运行, 不需要安装环境, 不需要下载源码！！！
Create UIs for your machine learning model in Python in 3 minutes
程序员在家做饭方法指南。Programmer's guide about how to cook at home (Chinese only).
Course Files for Complete Python 3 Bootcamp Course on Udemy
RedisInsight
The core software distribution for the Inform 7 programming language.
🏆 A ranked list of awesome machine learning Python libraries. Updated weekly.
A new bootable USB solution.
Terminal Watch Face for Apple Watch
A libre lightweight streaming front-end for Android.
Low code project to build admin panels, internal tools, and dashboards. Integrates with 15+ databases and any API.
A list of FREE resources to make Web3 accessible to everyone.
This repository is primarily maintained by Omar Santos and includes thousands of resources related to ethical hacking / penetration testing, digital forensics and incident response (DFIR), vulnerability research, exploit development, reverse engineering, and more.
An updated version of the classic "Basic Computer Games" book, with well-written examples in a variety of common MEMORY SAFE, SCRIPTING programming languages. See https://coding-horror.github.io/basic-computer-games/
30 days of JavaScript programming challenge is a step-by-step guide to learn JavaScript programming language in 30 days. This challenge may take more than 100 days, please just follow your own pace.
Gno language
The open-source repo for docs.github.com
坚持分享 GitHub 上高质量、有趣实用的开源技术教程、开发者工具、编程网站、技术资讯。A list cool, interesting projects of GitHub.

A local-first personal finance system
Actual's server
Wireit upgrades your npm scripts to make them smarter and more efficient.
Spacedrive is an open source cross-platform file explorer, powered by a virtual distributed filesystem written in Rust.
科技爱好者周刊，每周五发布
叮咚买菜助手, 直接下载并运行, 不需要安装环境, 不需要下载源码！！！
Create UIs for your machine learning model in Python in 3 minutes
程序员在家做饭方法指南。Programmer's guide about how to cook at home (Chinese only).
Course Files for Complete Python 3 Bootcamp Course on Udemy
RedisInsight
The core software distribution for the Inform 7 programming language.
🏆 A ranked list of awesome machine learning Python libraries. Updated weekly.
A new bootable USB solution.
Terminal Watch Face for Apple Watch
A libre lightweight streaming front-end for Android.
Low code project to build admin panels, internal tools, and dashboards. Integrates with 15+ databases and any API.
A list of FREE resources to make Web3 accessible to everyone.
This repository is primarily maintained by Omar Santos and includes thousands of resources related to ethical hacking / penetration testing, digital forensics and incident response (DFIR), vulnerability research, exploit development, reverse engineering, and more.
An updated version of the classic "Basic Computer Games" book, with well-written examples in a variety of common MEMORY SAFE, SCRIPTING programming languages. See https://coding-horror.github.io/basic-computer-games/
30 days of JavaScript programming challenge is a step-by-step guide to learn JavaScript programming language in 30 days. This challenge may take more than 100 days, please just follow your own pace.
Gno language
The open-source repo for docs.github.com
坚持分享 GitHub 上高质量、有趣实用的开源技术教程、开发者工具、编程网站、技术资讯。A list cool, interesting projects of GitHub.

In [35]:
contributor=driver.find_elements_by_xpath('//div[@class="f6 color-fg-muted mt-2"]')

In [38]:
len( contributor)

25

In [42]:
for i in contributor:
    print(i.text.split(' '))

['JavaScript', '3,075', '238', 'Built', 'by\n469', 'stars', 'today']
['JavaScript', '548', '117', 'Built', 'by\n138', 'stars', 'today']
['TypeScript', '2,529', '38', 'Built', 'by\n266', 'stars', 'today']
['TypeScript', '6,844', '148', 'Built', 'by\n508', 'stars', 'today']
['22,933', '1,789', 'Built', 'by\n91', 'stars', 'today']
['Go', '84', '19', 'Built', 'by\n27', 'stars', 'today']
['Python', '6,531', '415', 'Built', 'by\n151', 'stars', 'today']
['JavaScript', '40,514', '6,103', 'Built', 'by\n188', 'stars', 'today']
['Jupyter', 'Notebook', '20,104', '68,983', 'Built', 'by\n40', 'stars', 'today']
['TypeScript', '967', '50', 'Built', 'by\n75', 'stars', 'today']
['C', '611', '36', 'Built', 'by\n89', 'stars', 'today']
['Python', '8,943', '1,331', 'Built', 'by\n285', 'stars', 'today']
['C', '33,922', '2,548', 'Built', 'by\n100', 'stars', 'today']
['Swift', '1,498', '137', 'Built', 'by\n116', 'stars', 'today']
['Java', '18,999', '2,274', 'Built', 'by\n71', 'stars', 'today']
['TypeScript', '16,328', '1,328', 'Built', 'by\n231', 'stars', 'today']
['HTML', '1,568', '139', 'Built', 'by\n160', 'stars', 'today']
['Jupyter', 'Notebook', '11,336', '1,944', 'Built', 'by\n208', 'stars', 'today']
['Shell', '101', '29', 'Built', 'by\n32', 'stars', 'today']
['Go', '442', '8', 'Built', 'by\n81', 'stars', 'today']
['C#', '8,410', '1,095', 'Built', 'by\n79', 'stars', 'today']
['JavaScript', '20,448', '4,368', 'Built', 'by\n92', 'stars', 'today']
['Go', '242', '88', 'Built', 'by\n26', 'stars', 'today']
['JavaScript', '9,540', '51,249', 'Built', 'by\n95', 'stars', 'today']
['13,356', '1,614', 'Built', 'by\n144', 'stars', 'today']

In [48]:
folks=driver.find_elements_by_xpath('//span[@class="text-bold"]')
folks

[<selenium.webdriver.remote.webelement.WebElement (session="b6e43660c78f3573abf1a37caea12530", element="40b99765-ed10-45b6-b6ad-62db1e0ef1cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b6e43660c78f3573abf1a37caea12530", element="5cdd2e04-1730-49a4-92e8-720ced141bf0")>]

In [49]:
for i in folks:
    print(i.text)

3.1k
240

In [44]:
url=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')

In [45]:
prd_url=[]
for i in url:
    prd_url.append((i.get_attribute('href')))

In [60]:
contri=[]
for i in prd_url:
    try:
        folks=driver.find_elements_by_xpath('//span[@class="text-bold"]')
        contri.append(folks.text)
        
    except:
        contri.append('NA')

In [61]:
contri

['NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'NA']

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/

6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [149]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url='https:/www.billboard.com/'
driver.get(url)
time.sleep(5)

In [150]:
chart=driver.find_element_by_xpath('/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
chart.click()

In [151]:
view_chart= driver.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view_chart.click()

In [237]:
song_list=driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li/h3')
artist_list=driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li/span')
#rank_list=driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li/span')

song=[]
artist=[]
temp=[]
rank=[]
peak_rank=[]
week_on_board=[]
for i in song_list:
    song.append(i.text)
    
for i in artist_list:
    temp.append(i.text)
artist=temp[0::4]
rank=temp[1::4]

peak_rank=temp[2::4]
week_on_board=temp[3::4]


pd.DataFrame({'Song':song,'Artist':artist,'last Week Rank':rank,'Peak Rank':peak_rank,'Week on Board':week_on_board})

,Song,Artist,last Week Rank,Peak Rank,Week on Board
0,As It Was,Harry Styles,2,1,3
1,First Class,Jack Harlow,1,1,2
2,Heat Waves,Glass Animals,3,1,66
3,Big Energy,Latto,4,3,26
4,Enemy,Imagine Dragons X JID,5,5,22
...,...,...,...,...,...
95,P Power,Gunna Featuring Drake,91,24,14
96,Money So Big,Yeat,-,95,4
97,Blick Blick!,Coi Leray & Nicki Minaj,95,37,4
98,Fall In Love,Bailey Zimmerman,-,99,1
99,X Ultima Vez,Daddy Yankee & Bad Bunny,99,73,3

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [238]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url='https://www.naukri.com/'
driver.get(url)
time.sleep(5)

# 8. Scrape the details of Highest selling novels.

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [239]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/'
driver.get(url)
time.sleep(5)

In [282]:
book_names=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
author_names=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
volume_sold=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
publisher_names=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
genre_names=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')

book=[]
author=[]
volume=[]
publisher=[]
genre=[]

for i in book_names:
    book.append(i.text)
for i in author_names:
    author.append(i.text)
for i in volume_sold:
    volume.append(i.text)
for i in publisher_names:
    publisher.append(i.text)
for i in genre_names:
    genre.append(i.text)
    
pd.DataFrame({'Book Name':book,'Author Name':author,'Volume Sold':volume,'Publisher':publisher,'Genre':genre})

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [283]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(5)

In [371]:
movie_names=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
span_yr=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]')
genre=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[5]')
runtime=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p/span[3]')
ratings=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/div/div/span[2]')
votes=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]')

movie=[]
span=[]
Genre=[]
run=[]
rate=[]
vote=[]


for i in movie_names:
    movie.append(i.text)
for i in span_yr:
    span.append(i.text)
for i in genre:
    Genre.append(i.text)
for i in runtime:
    run.append(i.text)
for i in ratings:
    rate.append(i.text)
for i in votes:
    vote.append(i.text.split(' ')[1])
    
    
pd.DataFrame({'Movie names':movie,'Year Span':span,'Genre':Genre,'Run Time':run,'Ratings':rate,'Votings':vote})

,Movie names,Year Span,Genre,Run Time,Ratings,Votings
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,980,253"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"985,971"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"943,807"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"281,948"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"241,871"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,532"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,166"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"188,758"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,006"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"226,251"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [372]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(5)

In [373]:
all_dataset= driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a')
all_dataset.click()

In [424]:
dataset_name=driver.find_elements_by_xpath('/html/body/table/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
dataset_type=driver.find_elements_by_xpath('/html/body/table/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
task=driver.find_elements_by_xpath('/html/body/table/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
attribute_type=driver.find_elements_by_xpath('/html/body/table/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
instances=driver.find_elements_by_xpath('/html/body/table/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
attributes=driver.find_elements_by_xpath('/html/body/table/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
years=driver.find_elements_by_xpath('/html/body/table/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')

data=[]
typee=[]
taskk=[]
attribute=[]
instance=[]
attrib=[]
year=[]

for i in dataset_name:
    data.append(i.text)
for i in dataset_type:
    typee.append(i.text)
for i in task:
    taskk.append(i.text)
for i in attribute_type:
    attribute.append(i.text)
for i in instances:
    instance.append(i.text)
for i in attributes:
    attrib.append(i.text)
for i in years:
    year.append(i.text)
    
pd.DataFrame({'Dataset Name':data[1:],'Data Types':typee[1:],'Task':taskk[1:],'Attribute Type':attribute[1:],'No of instances':instance[1:],'No of attribute':attrib[1:],'Year':year[1:]})

,Dataset Name,Data Types,Task,Attribute Type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021