# 1. Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars

In [12]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [13]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')
driver.maximize_window()

url='https://www.amazon.in/'
driver.get(url)

In [14]:
takeinput= input("Please Enter the keyword to Search = ")

Please Enter the keyword to Search = GUITAR

In [15]:
searchbar= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
searchbar.send_keys(takeinput)
search= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search.click()

# 2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [16]:
from selenium.common.exceptions import NoSuchElementException

In [17]:
urls= driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')

In [18]:
url=[]
for i in urls:
    url.append(i.get_attribute('href'))

In [19]:
title=[]
price=[]
returnpolicy=[]
for i in url:
    driver.get(i)
    
    title_tag= driver.find_elements_by_id('productTitle')
    for i in title_tag:
        title.append(i.text)
    try:
        price_tag= driver.find_element_by_xpath('//span[@class="a-price a-text-price a-size-medium apexPriceToPay" or @class="a-price aok-align-center reinventPricePriceToPayPadding priceToPay"]')
        price.append(price_tag.text)
        
    except NoSuchElementException:
        price.append('Not Available')
        
    return_policy= driver.find_element_by_id('RETURNS_POLICY')
    returnpolicy.append(return_policy.text)

In [23]:
data= pd.DataFrame({"Title":title,'Price':price,"Return Policy":returnpolicy})
data

,Title,Price,Return Policy
0,Kadence Frontier guitar with Online Guitar lea...,"₹5,299.00",7 Days Replacement
1,Kadence Frontier Jumbo Semi Acoustic Guitar Wi...,"₹7,348.00",7 Days Replacement
2,Vault Traveller 34 Inch Acoustic Guitar With B...,"₹3,999\n00",7 Days Replacement
3,GUITAR BRO - COMBO (Black Acoustic Guitar for ...,"₹6,499\n00",7 Days Replacement
4,"Juarez Acoustic Guitar, 38 Inch Curved Body Cu...","₹2,520\n00",7 Days Replacement
...,...,...,...
67,"Granada, Acoustic Guitar, Dreadnought PRLD-14C...","₹6,014\n00",7 Days Replacement
68,Cort AD810 Dreadnought Acoustic Guitar with Gi...,"₹10,150\n00",7 Days Replacement
69,HOMME STORE 4 String Guitar Kids Brown Plastic...,₹949\n00,7 Days Replacement
70,"Kadence Guitar Acoustica Series, 41” Jumbo Siz...","₹7,499.00",7 Days Replacement
71,Pack of 2 Universal Guitar Stand by Hola! Musi...,₹999\n00,7 Days Replacement

In [22]:
len(title)

72

# 3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [118]:
def images(x):
    driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')
    driver.maximize_window()

    url='https://images.google.com/'
    driver.get(url)
    time.sleep(4)
    searchbar= driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
    searchbar.send_keys(x)
    
    time.sleep(2)
    search= driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div')
    search.click()
    
    images=driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')
    image=[]
    for i in images:
        image.append(i.get_attribute('src'))
        
    return pd.DataFrame({'Image Link':image[0:10]})

In [120]:
images('cars')

                                          Image Link
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [121]:
images('fruits')

                                          Image Link
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [122]:
images('Machine Learning')

                                          Image Link
0  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [123]:
images('Guitar')

                                          Image Link
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [124]:
images('Cakes')

                                          Image Link
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

# 4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [1]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')
driver.maximize_window()

url='https://www.flipkart.com/'
driver.get(url)

NameError: name 'webdriver' is not defined

In [899]:
# Cross Login Page

try:
    login_page= driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
    login_page.click()
except: pass

In [900]:
# Find Search bar for Job , location and enter data
search_bar= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar.send_keys('pixel 4a')

# Click search button
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [839]:
urls= driver.find_elements_by_xpath('//a[@class="_1fQZEK"]')

In [840]:
url=[]
for i in urls:
    url.append(i.get_attribute('href'))

In [841]:
len(url)

24

In [867]:
smartphone_price=driver.find_element_by_xpath('//div[@class="_25b18c"]')

In [868]:
smartphone_price.text

'₹31,999'

In [889]:
driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')
driver.maximize_window()
driver.get('https://www.flipkart.com/google-pixel-4a-just-black-128-gb/p/itm023b9677aa45d')

In [897]:
# Read More:

try:
    read_more= driver.find_element_by_class_name('_2KpZ6l _1FH0tX')
    read_more.click()
except: pass

In [891]:
smartphone_name= driver.find_element_by_class_name('B_NuCI')
smartphone_name.text

'Google Pixel 4a (Just Black, 128 GB)  (6 GB RAM)'

In [ ]:
you have to use table tags for extracting data from table. I am showing you one sample xpath. Rest you can make like this. It's very easy, Create path by your own. 

//div[@class="_3k-BhJ"][1]/table/tbody/tr[4]/td[2]/ul/li

This xpath is for extracting color.

In [266]:
driver.find_element_by_xpath('//div[@class="_3k-BhJ"][1]/table/tbody/tr[4]/td[2]/ul/li')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class="_3k-BhJ"][1]/table/tbody/tr[4]/td[2]/ul/li"}
  (Session info: chrome=99.0.4844.74)
Stacktrace:
Backtrace:
	Ordinal0 [0x00629943+2595139]
	Ordinal0 [0x005BC9F1+2148849]
	Ordinal0 [0x004B4528+1066280]
	Ordinal0 [0x004E0FD4+1249236]
	Ordinal0 [0x004E11CB+1249739]
	Ordinal0 [0x0050D812+1431570]
	Ordinal0 [0x004FBA34+1358388]
	Ordinal0 [0x0050BAF2+1424114]
	Ordinal0 [0x004FB806+1357830]
	Ordinal0 [0x004D6086+1204358]
	Ordinal0 [0x004D6F96+1208214]
	GetHandleVerifier [0x007CB232+1658114]
	GetHandleVerifier [0x0088312C+2411516]
	GetHandleVerifier [0x006BF261+560433]
	GetHandleVerifier [0x006BE366+556598]
	Ordinal0 [0x005C286B+2173035]
	Ordinal0 [0x005C75F8+2192888]
	Ordinal0 [0x005C76E5+2193125]
	Ordinal0 [0x005D11FC+2232828]
	BaseThreadInitThunk [0x752AFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77067A7E+286]
	RtlGetAppContainerNamedObjectPath [0x77067A4E+238]

# 5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [204]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [223]:
def find_cordinate(location):
    driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')
    driver.maximize_window()

    url='https://www.google.com/maps/'
    driver.get(url)
    search_bar= driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/form/div/div[3]/div/input[1]')
    search_bar.send_keys(location)

    # Click search button
    search_button=driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/div[1]/button')
    search_button.click()
    time.sleep(4)
    
    url=driver.current_url
    print('Corrdinates ',url.split('@')[1].split(',')[0:2])
    return

In [224]:
find_cordinate('Delhi')

Corrdinates  ['28.6466772', '76.8130624']

# 6. Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) from trak.in.

In [1]:
# lets connect to driver
from selenium import webdriver
c=webdriver.ChromeOptions()
c.add_argument("--incognito")

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe', options=c)
driver.implicitly_wait(0.5)
driver.maximize_window()

url='https://trak.in/'
driver.get(url)

C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/3262473186.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe', options=c)

In [2]:
# CLick on Funding Deals

funding= driver.find_element_by_xpath('/html/body/div[1]/header/div[2]/div/div/div/div/nav/ul/li[9]/a')
funding.click()

C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/3348645675.py:3: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  funding= driver.find_element_by_xpath('/html/body/div[1]/header/div[2]/div/div/div/div/nav/ul/li[9]/a')

In [469]:
# close ADD  Closed error manually

In [3]:
# April Data
SN=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[1]')
DATE= driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[2]')
STARTUP= driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[3]')
INDUSTRY=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[4]')
VERTICAL=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[5]')
CITY=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[6]')
INVESTOR=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[7]')
INVESTMENTTYPE=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[8]')
AMOUNT=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[9]')

C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/2007318750.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  SN=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[1]')
C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/2007318750.py:3: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  DATE= driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[2]')
C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/2007318750.py:4: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  STARTUP= driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[3]')
C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/2007318750.py:5: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  INDUSTRY=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[4]')
C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/2007318750.py:6: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  VERTICAL=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[5]')
C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/2007318750.py:7: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  CITY=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[6]')
C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/2007318750.py:8: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  INVESTOR=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[7]')
C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/2007318750.py:9: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  INVESTMENTTYPE=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[8]')
C:\Users\BANKOF~1\AppData\Local\Temp/ipykernel_14888/2007318750.py:10: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  AMOUNT=driver.find_elements_by_xpath('//table[@id="tablepress-57"]/tbody/tr/td[9]')

In [10]:
sr=[]
date=[]
startup=[]
industry=[]
vertical=[]
city=[]
investor=[]
investment=[]
amount=[]

In [11]:
for i in range(54,57):
    SN=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[1]'.format(i))
    DATE= driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[2]'.format(i))
    STARTUP= driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[3]'.format(i))
    INDUSTRY=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[4]'.format(i))
    VERTICAL=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[5]'.format(i))
    CITY=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[6]'.format(i))
    INVESTOR=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[7]'.format(i))
    INVESTMENTTYPE=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[8]'.format(i))
    AMOUNT=driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr/td[9]'.format(i))
    
    for i in SN:
        sr.append(i.text)
    for i in DATE:
        date.append(i.text)
    for i in STARTUP:
        startup.append(i.text)
    for i in INDUSTRY:
        industry.append(i.text)
    for i in VERTICAL:
        vertical.append(i.text)
    for i in CITY:
        city.append(i.text)
    for i in INVESTOR:
        investor.append(i.text)
    for i in INVESTMENTTYPE:
        investment.append(i.text)
    for i in AMOUNT:
        amount.append(i.text)
    
data= pd.DataFrame({"S.R":sr,'Date':date,"Startup Name":startup,'Industry':industry,"Sub Vertical":vertical,"City":city,'Investors Name':investor,'Investment type':investment,'Amount':amount  })
data

,S.R,Date,Startup Name,Industry,Sub Vertical,City,Investors Name,Investment type,Amount
0,1,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
1,2,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
2,3,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
3,4,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
4,5,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
5,6,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
6,7,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series,"100,000,000"
7,8,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed,"4,000,000"
8,1,11/02/2021,Doubtnut,Edu Tech,E-Learning Platform,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...",Series B,"2,500,000"
9,2,22/02/2021,Zomato,Hospitality,Online Food Delivery Platform,Gurgaon,"Tiger Global, Kora",Venture,"250,000,000"
10,3,19/02/2021,Fingerlix,Hospitality,Semi-cooked food delivery app,Mumbai,"Rhodium Trust, Accel Partners and Swiggy",Series C,"2,747,045.20"
11,4,17/02/2021,Zolve,FinTech,Global Neobank Venture,Mumbai,Accel Partners and Lightspeed Venture Partners,Seed,"1,50,00,000"
12,5,15/02/2021,KreditBee,Finance,Digital lending platform,Bengaluru,Azim Premji’s PremjiInvest and South Korea’s M...,Series C,"75,000,000"
13,6,12/02/2021,Pepperfry,E-commerce,Multi-brand furniture brand,Mumbai,InnoVen Capital,Debt Financing,"4,773,958"
14,7,12/02/2021,Grofers,E-Commerce,Online supermarket,Gurgaon,SoftBank Vision Fund (SVF),Unspecified,"55,000,000"
15,8,09/02/2021,Nothing,Technology,Consumer Technology Venture,London,GV,Series A,"15,000,000"
16,9,09/02/2021,SplashLearn,EdTech,Game-based learning programme,Gurgaon,Owl Ventures,Series C,"18,000,000"
17,1,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000"
18,2,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D,"140,000,000"
19,3,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000"
20,4,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000"
21,5,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed,"300,000,000"
22,6,25/03/2021,CityMall,E-commerce,Social ecommerce and online grocery platform,Gurgaon,Accel Partners,Series A,"11,000,000"
23,7,26/03/2021,DotPe,FinTech,Commerce and payments platform to offline ente...,Gurgaon,PayU,Series A,"27,500,000"

# 7. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [381]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')
driver.maximize_window()

url='https://www.digit.in/'
driver.get(url)

In [382]:
# search for Gaming Laptops
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[2]/a/img').click()

search_bar= driver.find_element_by_xpath('/html/body/div[2]/div[2]/div/div/input')
search_bar.clear()
search_bar.send_keys('Gaming Laptops','\n')

In [383]:
urls= driver.find_elements_by_xpath('//div[@class="searchPage"]/a')

In [384]:
url=[]
for i in urls:
    url.append(i.get_attribute('href'))

In [385]:
url

['https://www.digit.in/laptops/asus-g750jx-cv069p-price-4426.html',
 'https://www.digit.in/laptops/hp-envy-15-k006tx-price-4429.html',
 'https://www.digit.in/laptops/asus-g53j-a-3d-gamer-s-delight-but-we-want-more-price-3465.html',
 'https://www.digit.in/laptops/lenovo-ideapad-y570-price-2979.html',
 'https://www.digit.in/laptops/asus-rog-flow-x13-price-229735.html',
 'https://www.digit.in/audio-video/asus-rog-cetra-price-213419.html',
 'https://www.digit.in/laptops/hp-pavilion-g6-multimedia-and-gaming-on-a-budget-price-3088.html',
 'https://www.digit.in/laptops/asus-zephyrus-g15-ryzen-9-5900hs-2021-price-231905.html',
 'https://www.digit.in/tvs/truvision-tx3271-price-69451.html',
 'https://www.digit.in/laptops/lenovo-g50-30-price-6793.html']

In [386]:
Product_Name=[]
product_date=[]
product_price=[]

for i in url:
    driver.get(i)
    name= driver.find_element_by_xpath('//div[@class="heading-wraper"]/h1')
    Product_Name.append(name.text)
    date= driver.find_element_by_xpath('//div[@class="status_bar"]/div[2]')
    product_date.append(date.text.split(':')[1])
    price= driver.find_element_by_xpath('//div[@class="price_sec"]/div/h2')
    product_price.append(price.text.split(':')[1].split(' ')[2])
    
    
data=pd.DataFrame({'Product Name':Product_Name,'Release Date': product_date,'Price':product_price})
data

                                        Product Name   Release Date    Price
0                                 Asus G750JX-CV069P   14 Oct, 2014  149,999
1                                  HP Envy 15-k006tx   14 Oct, 2014   80,510
2  ASUS G53J - A 3D gamer's delight but we want more   13 Jan, 2011  112,499
3                                Lenovo IdeaPad Y570   07 Feb, 2012   49,900
4                                  ASUS ROG Flow x13   05 May, 2021  154,990
5                                     ASUS ROG Cetra   22 Aug, 2020    7,699
6  HP Pavilion g6 - Multimedia and gaming on a bu...   04 May, 2011   45,000
7            ASUS Zephyrus G15 Ryzen 9 5900HS (2021)   26 May, 2021  137,990
8                                    Truvison TX3271   26 Oct, 2017   23,490
9                                      Lenovo G50-30   17 Mar, 2016   25,694

# 8. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [463]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')
driver.maximize_window()

url='https://www.forbes.com/billionaires/'
driver.get(url)

In [464]:
rank=[]
name=[]
worth=[]
age=[]
country=[]
source=[]
industry=[]

In [465]:
for i in range(0,13):
    rank_tag=driver.find_elements_by_class_name('rank')
    person_tag= driver.find_elements_by_class_name('personName')
    worth_tag= driver.find_elements_by_class_name('netWorth')
    age_tag=driver.find_elements_by_class_name('age')
    country_tag= driver.find_elements_by_class_name('countryOfCitizenship')
    source_tag= driver.find_elements_by_class_name('source')
    industry_tag= driver.find_elements_by_class_name('category')
    for i in rank_tag:
        rank.append(i.text)
    for i in person_tag:
        name.append(i.text)
    for i in worth_tag:
        worth.append(i.text)
    for i in age_tag:
        age.append(i.text)
    for i in country_tag:
        country.append(i.text)
    for i in source_tag:
        source.append(i.text)
    for i in industry_tag:
        industry.append(i.text)
        
    next= driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/div/div[3]/div[2]/div[2]/div[2]/div[27]/div[7]/div[2]/button[2]/div/i')
    next.click()

In [466]:
data= pd.DataFrame({'Rank':rank[1:],'Name':name[1:],'Net Worth':worth[1:],'Age':age[1:],'Country':country[1:],"Source":source[1:],'industry':industry[1:]})

data

,Rank,Name,Net Worth,Age,Country,Source,industry
0,1.,Jeff Bezos,$177 B,57,United States,Amazon,Technology
1,2.,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
2,3.,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$124 B,65,United States,Microsoft,Technology
4,5.,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
...,...,...,...,...,...,...,...
2607,2524.,Low Tuck Kwong,$1.1 B,72,Indonesia,coal,Energy
2608,2524.,Lu Weiding,$1.1 B,50,China,diversified,Diversified
2609,2524.,Lv Yongxiang,$1.1 B,71,China,magnetic switches,Manufacturing
2610,2524.,"Cargill MacMillan, III.",$1.1 B,61,United States,Cargill,Food & Beverage
2611,2524.,John MacMillan,$1.1 B,71,United States,Cargill,Food & Beverage

# 9. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video

In [572]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')
driver.maximize_window()

url='https://www.youtube.com/watch?v=CaZm5QRhJVA'

driver.get(url)
#time.sleep(4)

AttributeError: 'list' object has no attribute 'sleep'

# Scroll down will load more data, so scrolled many times to get 5oo

# Time()

In [618]:
time= driver.find_elements_by_id("header-author")

In [619]:
t=[]
for i in time:
    t.append(i.text.split('\n')[1])

In [620]:
len(t)

620

# Comment()

In [621]:
data= driver.find_elements_by_id("content-text")

In [622]:
d=[]
for i in data:
    d.append(i.text)

In [623]:
len(d)

620

# Upvote()

In [624]:
upvote= driver.find_elements_by_id("vote-count-middle")

In [625]:
v=[]
for i in upvote:
    v.append(i.text)

In [626]:
len(v)

620

In [627]:
data= pd.DataFrame({'Comment':d,'Time':t,'UpVote':v})
data.index +=1

In [628]:
data

,Comment,Time,UpVote
1,This List Only Official Indian Songs,1 year ago,664
2,"Lets appreciate Haryanvi , Punjabi , Bhojpuri ...",1 year ago (edited),89
3,Khairiyat ❤️❤️❤️ mind blowing,1 year ago (edited),66
4,How many fan of SSR and Khairiyat song\nWho i...,1 year ago,710
5,Music Styles is my Favourite. Anyone else's ❤️...,1 year ago,255
...,...,...,...
616,Most of songs are is tseries,1 year ago,
617,fist,1 year ago,1
618,994th view,1 year ago,1
619,52 gaj ka daman,1 year ago,
620,3rd view,1 year ago,

# 10. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description

In [101]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Bank of America\Downloads\chromedriver_win32/chromedriver.exe')
driver.maximize_window()

url='https://www.hostelworld.com/'

driver.get(url)

In [105]:
# Enter Location

search_bar= driver.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[2]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/div/input')

In [106]:
search_bar.send_keys('London')

In [107]:
clk= driver.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[2]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]/div')
clk.click()

In [108]:
lets_go= driver.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[2]/div/div[2]/div[4]/div/div[2]/div/div[5]/button')
lets_go.click()

In [109]:
NAME= driver.find_elements_by_xpath('//h2[@class="title title-6"]')

In [110]:
name=[]
for i in NAME:
    name.append(i.text)

In [111]:
len(name)

30

In [112]:
DISTANCE= driver.find_elements_by_xpath('//span[@class="description"]')

In [113]:
distance=[]
for i in DISTANCE:
    distance.append(i.text.split('-')[1].strip())

In [114]:
len(distance)

30

In [115]:
try:
    RATING= driver.find_elements_by_xpath('//div[@class="score orange big" or @class="score gray big"]')
    
except NoSuchElementException:
    RATING.append(None)

In [116]:
rating=[]
for i in RATING:
    rating.append(i.text)

In [117]:
len(rating)

30

In [118]:
data= pd.DataFrame({"Name":name,'Distance':distance,"Rating":rating})
data

                                       Name                 Distance Rating
0                  St Christopher's Village   1.8km from city centre    8.0
1         Safestay London Elephant & Castle   1.7km from city centre    7.7
2                          Generator London     3km from city centre    7.8
3                      Urbany Hostel London   5.4km from city centre    9.6
4                   Smart Camden Inn Hostel   4.4km from city centre    8.5
5                        London Backpackers  11.9km from city centre    8.2
6               Smart Russell Square Hostel   2.6km from city centre    6.8
7                  YHA London Oxford Street   2.1km from city centre    9.7
8   Safestay London Kensington Holland Park   5.9km from city centre    7.6
9               Smart Hyde Park View Hostel     5km from city centre    7.9
10     St Christopher's Inn - London Bridge   1.8km from city centre    8.2
11              Wombat's City Hostel London   3.6km from city centre    8.9
12                  Queen Elizabeth Chelsea   5.7km from city centre    7.5
13                           Phoenix Hostel   4.2km from city centre    7.9
14                     New Cross Inn Hostel   6.1km from city centre    7.1
15               Smart Hyde Park Inn Hostel     5km from city centre    6.8
16      PubLove @ The White Ferry, Victoria   2.4km from city centre    8.4
17             St Christopher's Hammersmith   7.5km from city centre    8.0
18                  St Christopher's Camden   4.3km from city centre    7.7
19                       YHA London Central   2.9km from city centre    9.0
20          St Christopher's Shepherds Bush     7km from city centre    7.7
21                  Hostel One Notting Hill   5.5km from city centre    8.1
22               St Christopher's Greenwich   7.6km from city centre    7.5
23                            Selina Camden   5.5km from city centre    9.2
24                           Abercorn House   7.3km from city centre    6.5
25           PubLove @ The Crown, Battersea   4.7km from city centre    7.7
26       PubLove @ The Exmouth Arms, Euston   3.4km from city centre    7.5
27                 Kensal Green Backpackers   8.2km from city centre    6.1
28                               Park Villa   6.3km from city centre    8.4
29      PubLove @ The Green Man, Paddington   4.3km from city centre    7.5